.calendar-div{
    min-height: 100px;
    width: 100%;
    margin-top: 8px;
}
.day{
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: right;
    padding: 4px 6px 4px 0;
    cursor: pointer;
}
.day.selected{
    background: #f8b600;
    border-color: rgba(255, 255, 255, 0);
}
.day a{
    color: rgb(56, 56, 56);
}
.day.selected a{
    color:  white;
}

th{
    text-align: right;
}