header{
    background-color: white;
    margin: 0;
}

body{
  margin: 0;
  background: rgb(239, 239, 239);
}
body .index{
  background: #000;
}

label{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #616161;
  margin: 0;
}

h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
}
h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #0c0c0c;
  margin: 0;
}


p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3b3b3b;
  margin: 0;
}

a{
  text-decoration:none;
  color: #f8b600;
}
a:visited{
  text-decoration:none;
}






.panel{
  display: flex;
  height: 70px;
}
.panel a{
  display: inline-flex;
  padding: 0 10px;
}
.panel a:hover{
  background: rgb(239, 239, 239);
}
.panel a.selected{
  background: rgb(239, 239, 239);
}
.panel a img{
  height: 35px;
  width: 35px;
  margin: auto 5px;
  border-radius: 11px;
}
.panel a p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: auto 8px;
}




/*
.main{
    display: flex;
}
.main-right{
    width: 100%;
    margin: auto 0;
}
.main-right-content{
  padding: 30px;
  background-color: #ffffffea;
  -webkit-backdrop-filter: blur(20px);
  margin: 20px;
}
*/
.main{
  padding: 30px;
  margin: 20px;
}






.interes-div{
  margin: 25px 0;
}
.interes-div p{
  margin-top: 7px;
}
.interes-navigation{
  margin-bottom: 40px;
}
.interes-navigation ul{
  display: none;
  list-style: none;
}
.interes-navigation.open ul{
  display: inline;
}
.interes-navigation-element{
  margin-left: 5px;
}


.studies-div-univer p{
  margin-top: 5px;
}
.studies-div{
  margin: 25px 0;
}
table{
  margin: 20px 0;
  width: 100%;
}
th{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: left;
  font-style: italic;
}
td{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
select{
  max-width: 100px;
}




#contact-main{
  width: 100%;
}
.contact-table{
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.red-border {
  outline: 2px solid red;
}
.green-border{
  outline: 2px solid darkgreen;
}



#error-input{
  border: 1px solid red;
}

.text-error{
  color: darkred;
}
.hided{
  display: none;
}



#text{
  width: 100%;
  height: 300px;
  border-radius: 6px;
  border: 0;
  padding: 10px;
}
.input-text{
  margin: 20px 0;
  right: 0;
  border-radius: 6px;
  border: 0;
  padding: 10px;
  width: 400px;
}
#button-submit{
  background-image: linear-gradient(#66C7D7, #BDF5FF);
  border: 0;
  height: 50px;
  width: 180px;
  box-shadow: 9px 8px 32px rgba(139, 227, 242, 0.596);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
#button-submit-notactive{
  background-image: linear-gradient(#BDF5FF, #BDF5FF);
  border: 0;
  height: 50px;
  width: 180px;
  box-shadow: 9px 8px 32px rgba(139, 227, 242, 0.596);
  border-radius: 10px;
  color: gray;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
  cursor: default;
}
#button-submit:hover{
  background-image: linear-gradient(#66C7D7, rgb(47, 199, 226));
  border: 0;
  height: 50px;
  width: 180px;
  box-shadow: 9px 8px 32px rgba(108, 179, 192, 0.678);
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
#button-reset{
  margin-left: 20px;
  background: none;
  color: #82D5E4;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

#bigImg{
  position: absolute;
  width: calc(100% - 225px);
  background: rgba(0, 0, 0, 1);
  padding: 70px 70px 0 70px;
}
.bigImg-Img{
  width: 100%;
}
a{
  cursor: pointer;
}

#photos-table{
  width: 100%;
}
#photos-table img {
  width: 100%;
}

#bigImg div {
  display: flex;
}
#bigImg div div{
  margin: auto;
}
#bigImg div div p{
  font-weight: 200;
  font-size: 20px;
  margin: 60px 7px;
  color: #c9bfa4;
  cursor: pointer;
}

.pops{
  background: white;
  left: 475px;
  height: 40px;
  width: 200px;
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  padding: 5px;
}
#resetWindow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: rgba(0, 0, 0, 0.356);
}
#resetWindow div{
  filter: blur(0);
  -webkit-filter: blur(0px);
  background: white;
  width: 500px;
  margin: auto;
  padding: 25px;
}
.blured{
	-webkit-filter: blur(20px);
	filter: blur(20px);
}